<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap">
    <link rel="stylesheet" href="./style.css">
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />
    <!-- <script src="videojs-contrib-hlsjs.min.js"></script> -->
</head>
<body class="genesis">
    <div class="app"> <!-- This is wrapper div for React application -->
        <!-- Header section with logo and main menu -->
        <header class="container main-menu">
            <div class="main-menu__logo">
                <img class="main-menu__logo-img" src="images/icons/main-logo.png" alt="BA-logo">
            </div>
            <nav class="main-menu__menu">
                <!-- <button class="burger"></button> -->
                <input type="checkbox" name="menu-btn" id="menu-btn">
                <label for="menu-btn"></label>
                <ul>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Наші курси</a></li>
                    <li><a href="#">Пошук</a></li>
                    <li><a href="#">Вхід</a></li>
                </ul>
            </nav>
        </header>
        <!-- Course information section showing all lessons     -->
        <section class="container course-info">
            <div class="two-column-header">
                <div class="course-adv__left">
                    <!-- <h4 class="course-adv__left-date text-gradient orange">
                        Старт 30 січня
                    </h4> -->
                    <h2 class="title-h2">Вітаємо на курсі</h2>
                    <h1 id="course-title" class="course-adv__left-title title-h1 text-gradient blue">Lack of Motivation & How to Overcome It</h1>
                    <p id="course-descr" class="text-22px text-italic">Reignite your inner drive by managing factors that dampen your motivation.</p>
                </div>
                <div class="course-adv__right">
                    <img id="course-image" class="profile-photo" src="./images/emblem.png" alt="profile photo" width="634" height="647">
                </div>
            </div>
            <div id="launch-date" class="course-avail text-orange text-16px">Доступно з 21.03.2023 16:30</div>
            <div class="block-with-list">
                <dvi class="you-expect text-20px">Вас чекають:</dvi>
                <ul class="course-adv__left-features">
                    <li id="duration" class="features">27 днів навчання, практики</li>
                    <li id="lessons" class="features">2 уроки</li>
                </ul>
            </div>
            <div class="block-with-list">
                <dvi class="you-get text-20px">Ви здобудете:</dvi>
                <ul id="skills" class="course-adv__left-features">
                    <li class="features">Aligning your goals with your motives</li>
                    <li class="features">Overcoming decision paralysis</li>
                    <li class="features">Reframing negative self-talk</li>
                    <li class="features">Gaining clarity</li>
                    <li class="features">Challenging yourself</li>
                </ul>
            </div>
        </section>
        
        <!-- Section with the list of courses -->
        <section class="list-courses">
                <h2 class="title-h2 container">Програма курсу</h2>
                <div class="active-lesson container">
                    
                    <div class="active-lesson-card">
                        <div id="active-course-photo" class="course-photo">
                            <img id="active-lesson-photo" src="/images/tom2.jpg" alt="preview">
                            <!-- <video loop="true" disablepictureinpicture="false" controlslist="nodownload" src="http://porkahd.co/get_file/3/f81a4dd6b5bd20bde6195adf835ec6fe9a71e83677/1000/1895/1895_preview.mp4/" -webkit-playsinline="true" playsinline="true"></video> -->
                            <!-- <video id="video" controls="" autoplay="" class="videoCentered" style="width: 80%" src="moz-extension://e0d6127e-e5bd-4b28-aff4-55fc03450a05/index.html#https://wisey.app/videos/money-management-for-financial-freedom/preview/AppleHLS1/preview.m3u8"></video> -->
                   
                            <video id="player" width="1920" height="1080" poster="/images/tom2.jpg" class="video-js vjs-default-skin" controls preload="auto">
                                <source src="https://wisey.app/videos/money-management-for-financial-freedom/preview/AppleHLS1/preview.m3u8" type="application/x-mpegURL">
                            </video>
                        </div>
                        
                        <div class="video-caption">
                            <div class="lesson__circle-block">
                                <div class="lesson__day">
                                    <p class="text-14px text-gradient orange">Урок</p>
                                    <p id="active-lesson-number" class="lesson__number text-gradient orange">1</p>
                                </div>
                            </div>
                        
                            <div id="active-lesson-descr" class="lesson__info text-16px">Знайомство з онлайн-сервісом Figma і проба пера мовами HTML &amp; CSS. Учасники марафону оз найомляться із прикладами синтаксису HTML &amp; CSS для загального розуміння того, як код пишеться і працює.</div>
                        </div>
                        <div class="additional-resources">
                            <h4>Додаткові матеріали:</h4>
                            <ul>
                                <li>Знайомство з онлайн-сервісом Figma і проба пера мовами HTML & CSS.</li> 
                                <li>Учасники марафону ознайомляться із прикладами синтаксису HTML & CSS для загального розуміння того, як код пишеться і працює.</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div id="lessons-container" class="all-lessons container">
                    <div class="lesson-card active">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">1</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус виконання: 10%</div>
                        <div class="lesson__info text-16px">Знайомство з онлайн-сервісом Figma і проба пера мовами HTML &amp; CSS. Учасники марафону ознайомляться із прикладами синтаксису HTML &amp; CSS для загального розуміння того, як код пишеться і працює.</div>
                    </div>
                    <div class="lesson-card">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">2</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус виконання: 0%</div>
                        <div class="lesson__info text-16px">Створення верхньої частини головної сторінки сайту. Розбираються ключові моменти, що прописуються для подальших сторінок.</div>
                    </div>
                    <div class="lesson-card">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">3</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус виконання: 0%</div>
                        <div class="lesson__info text-16px">Розгляд адаптивного верстання з використанням технології Flexbox, яка дозволяє сайту однаково гарно виглядати на екранах різних розмірів. Стилізація сайту відповідно до макету для мобільних пристроїв.</div>
                    </div>
                    <div class="lesson-card blocked">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">4</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус: Заблоковано</div>
                        <div class="lesson__info text-16px">Закріплення знань з технології Flexbox з паралельним ускладненням вкладеності і побудови елементів для створення необхідних блоків сторінки.</div>
                    </div>
                    <div class="lesson-card blocked">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">5</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус: Заблоковано</div>
                        <div class="lesson__info text-16px">Розгляд різних варіацій при створенні сторінки: побудова на власний розсуд, де та як можуть знаходитися елементи головного контенту з можливістю правильно вказувати шлях до зображень тощо.</div>
                    </div>
                    <div class="lesson-card blocked">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">6</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус: Заблоковано</div>
                        <div class="lesson__info text-16px">Реалізація нижньої частини сайту, де вказані соцмережі та присутній функціонал переходу до інших сторінок. Також розглядається правильне задання маршруту для переходу.</div>
                    </div>
                    <div class="lesson-card blocked">
                        <div class="lesson__circle-block">
                            <div class="lesson__day">
                                <p class="text-14px text-gradient orange">Урок</p>
                                <p class="lesson__number text-gradient orange">7</p>
                            </div>
                        </div>
                        <div class="lesson__status text-16px">Статус: Заблоковано</div>
                        <div class="lesson__info text-16px">Фінальний день марафону присвячений створенню секції постів, що закріплює розуміння пріоритетності селекторів для елементів – коли імена вже використовувались для інших елементів сайту. Завершення роботи над сайтом-портфоліо.</div>
                    </div>
                    <div class="lesson-card lesson-card-last filled-gradient blue">
                        <div class="lesson__info text-22px">Твій результат за 7 днів – готовий проект</div>
                    </div>
                    
                </div>
            </div>
            
            
        </section>
        <!-- Footer of the page -->
        <footer class="footer-genesis filled-gradient blue">
            <div class="footer-genesis__content container">
                
                <div class="footer-genesis__left">
                    <img src="/images/icons/main-logo-white.png" alt="BA_Logo">
                    <h4 class="text-20px">Навчальний центр для всіх</h4>
                    <p class="footer-genesis__copyright text-12px">© 2023 БЕЙБІЗ АКАДЕМІ (Baby’s Academy). Всі права захищені.</p>
                </div>
                
                <div class="footer-genesis__center">
                    <h4 class="text-20px">Контакти</h4>
                    <ul class="footer-genesis__contacts">
                        <li>
                            <a href="tel:+0800337146" target="_blank"> 
                                <img src="/images/icons/phone-icon.svg" alt="phone">
                                <p class="text-16px">0 800 555 555 (безкоштовно)</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank"> 
                                <img
                                    src="/images/icons/earth-icon.svg" alt="earth">
                                <p class="text-16px">babys.com.ua</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank"> 
                                <img
                                    src="/images/icons/telegram-icon.svg" alt="telegram">
                                <p class="text-16px">babys_support</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank"> 
                                <img
                                    src="/images/icons/mail-icon.svg" alt="mail">
                                <p class="text-16px">edu@babys.com.ua</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank"> 
                                <img
                                    src="/images/icons/skype-icon.svg" alt="skype">
                                <p class="text-16px">support_babys</p>
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="footer-genesis__right">
                    <h4 class="text-20px">Соц. мережі</h4>
                    <div class="footer-genesis__social">
                        <a href="#" target="_blank">
                            <img src="/images/icons/instagram.svg" alt="instagram">
                        </a> 
                        <a href="#" target="_blank">
                            <img src="/images/icons/facebook.svg" alt="facebook">
                        </a> 
                        <a href="#" target="_blank">
                            <img src="/images/icons/youtube.svg" alt="youtube">
                        </a> 
                        <a href="#" target="_blank">
                            <img src="/images/icons/linkedin.svg" alt="linkedin">
                        </a> 
                        <a href="#"  target="_blank">
                            <img src="/images/icons/telegram.svg" alt="telegram">
                        </a>
                    </div>
                    <div class="footer-genesis__scroll-top"><img src="/images/icons/arrow.svg" alt="top"></div>
                    <p class="footer-marathon__copyright">© 2023 БЕЙБІЗ АКАДЕМІ (Baby’s Academy). Всі права захищені.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    
    <script src="myvideo.js"></script>
</body>
</html>